<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>

    <style>

        h1 {
            color:red;
        }

        .content {
            color:blue;
        }

    </style>
</head>
<body>
    <div th:replace="/invoice/components/headers/header"></div>
        <p th:text="#{invoice.content}" class="content"></p>
    <div th:replace="/invoice/components/footers/footer"></div>
</body>
</html>